.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /***********************************************New Css with bootstrap*************************************************/
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .Box{
    padding: 0px !important; 
  } 
  .Box img{
    width: 100vw;
  }
  .icon img {
    position: absolute;
    top: 2%;
    left: 3%;
    height: 12%;
    width: 10%;
  }
  .icon-2 img {
    position: absolute;
    top: 14%;
    left: 4%;
    height: 5%;
    width: 9%;
  }
  .Box-2{
    margin:20px;
  }
  .col-items-1{
    margin:  80px;
    padding-top: 40px;
  }
  .col-items-2{
    margin-left: 40px;
    padding-top: 40px;
  
  }
  .col-items-2 h1
  {
    font-size: 30px;
    font-weight: bold;
  }
  .col-items-1 button{
    border:none !important;
    background: none ;
    color: green;
    outline:none;
  }
    .col-items-1 button a{
      color: green;
      font-weight: 800;
    }

.img-1 {
      position: absolute;
      top: 361px;
      left: 452px;
      width: 162px;
      height: 157px;
  }
.img-2 {
    position: absolute;
    left: 489px;
    top: 400px;
}
.img-3{
  position: absolute;
  left: 512px;
  top: 445px;
} 
form p{
  font-weight: 500;
  margin-bottom: 2px;
  margin-top: 10px;
}

form input{
  height: 5vh;
  width: 28vw;
  border-radius: 5px;
  border-style:outset;
  border: 1px solid black;
  font-weight: 200;
}
.row-items-3 .col-item-a
{
  width: 18vw;
  padding: 0px !important;
}
label{
  margin-bottom: 10px;
  width: 28vw;
}
label a{
  font-weight: 900;
  font-weight: 900;
  color:green;
  text-decoration: none;
}
label a:hover{
  color: #19681c;
}
form{
  margin-top: 10px;
  /* border: 2px solid red; */
}
#submit{
  position: relative;
  top:20px;
  left:0px;
  width: 180px;
  background: #006700;
  border: 1px solid #006700;
  height: 35px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
}
.col-3-anchor-link{
  position: relative;
  font-size: 17px;
  top: 200px;
  left: 10px;
  color: green;
  font-weight: 500;
}
.input-checkbox{
  position: relative;
  margin-right: 10px;
  top:12px;
  height: 18px;
  width: 18px;
  font-size: small;
}
.col-3 p{
  font-weight: 900;
}
input{
  height:40px !important;
}
label{
  margin-top:0px !important ;
  /* border:2px solid red; */
}
#upa{
  display: none;
  visibility: none;
}